
@media all and (max-width: 600px){
    #detailimg{
    flex-wrap: wrap;
    }

    .detailtext th{

        font-size: 15px;
    }
    .detailtext td{
        font-size: 15px;
    }
}

@media all and (max-width: 768px){
    #detailimg{
    flex-wrap: wrap;
    }

    .detailtext th{

        font-size: 15px;
    }
    .detailtext td{
        font-size: 15px;
    }
}


#blindbox{ animation: 1.5s ease-in-out loadEffect1; }

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#blindbox{
width:100%;
min-height: 100vh;
max-width: 1600px;
    background: black;
    margin: 0 auto;
    position: relative;
}

.btn{
    margin-top: 20px;
    color:white;
    font-size: 20px;
    padding: 15px;
    background: none;
    border: 1px solid white;
    cursor: pointer;
}

#detailimg{
    width:100%;
    margin-top: 80px;
    display: flex; 
    justify-content: center;
}
#detailimg img{
    width:100%;
    height:100%;
}
.detailtext{
    text-align: center;
    width:80%;

   
}
.detailtext p{
    font-size: 50px;
    position: relative;
    z-index: 10;
    color:white;
}
.detailtext table{
    margin-top: 30px;
    font-size: 22px;
}
.detailtext th{
    padding-bottom: 15px;
    color:white;
    width:40%;
    vertical-align: top;
}
.detailtext td{
    padding-bottom: 15px;
    color:white;
    width:60%;

}


/* swiper css 수정하기 */
#detailimg .swiper { height:60%;
    width:70%;
    margin-right: 50px;
    overflow: hidden;
}

#detailimg .swiper-slide{
    height:40%;
}
#detailimg .swiper-pagination-bullet{
    background: white !important;

}


#detailimg .swiper-button-next::after {
    color: white !important;
}

#detailimg .swiper-button-prev::after {
    color: white !important;
}

