#allmovie{ animation: 1.5s ease-in-out loadEffect1; }

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#allmovie{
    background: black;
    
    width:100%;
    max-width: 1600px;
    margin: 0 auto;
}

#movierun{
    padding-top: 70px;
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.react-reveal{
    width:30%;
    margin-bottom: 50px;
}
#movierun a{
    width:30%;
    margin-bottom: 50px;
}
.movediv {
    width:100%;
    height:100%;

}
.movediv img{
    width:100%;
    height:100%;
}
