

/* swiper css 수정하기 */
.imgdiv{
    width:100%;
    height:50%;
}
.imgdiv img{
    width:100%;
    height:420px;
}

.swiper a{
    width:100%;
}


.swiper { height:40%;
    width:100%;
    overflow: hidden;
}

.swiper-slide{
    height:100%;
}
.swiper-pagination-bullet{
    background: white !important;
}


.swiper-button-next::after {
    color: white !important;
}

.swiper-button-prev::after {
    color: white !important;
}

@media all and (max-width: 768px){

    .swiper { height:35%;
        width:100%;
        overflow: hidden;
    }
    .imgdiv img{
        height:250px;
    }
    
    .swiper-slide{
        height:100%;
    }
}
@media all and (max-width: 420px){
    .swiper { height:30%;
        width:100%;
        overflow: hidden;
    }
    .imgdiv img{
        height:190px;
    }
    
    .swiper-slide{
        height:100%;
    }
}
