
#Main {
    background: black;
    width:100%;
    height:200vh;
    margin: 0 auto;
    max-width: 1600px;
}
#movie{
    width:80%;
    height:30%;
    background: white;
    margin: 0 auto;
    border-radius: 50%;
    background: black;
    position: relative;
    z-index: 8;
}
#text {
    position:absolute;
    color:white;
    z-index: 10;
    left:0%;
    top:20%;
}
#text p{
    font-size: 35px;
    margin-bottom: 30px;
}
#text span{
    font-size: 25px;
    display: block;
    width:40%;
}
#movie video{
    position: relative;
    right:-15%;
    border-radius: 50%;
    z-index: 9;
    width:100%;
    height:105%;
}
.imgdiv img{
    width:100%;
    height:100%;
}
.imgdiv{
    margin: 0 auto;
    width:90%;
    height:50%;
}
.title{
    color:white;
    font-size: 20px;
    margin: 20px 0;
}


