#Main{ animation: 1.5s ease-in-out loadEffect1; }

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#Main {
    background: black;
    width:100%;
    margin: 0 auto;
    max-width: 1600px;
}
#movie{
    width:80%;
    height:30%;
    background: white;
    margin: 0 auto;
    border-radius: 50%;
    background: black;
    position: relative;
    z-index: 8;
}
#text {
    position:absolute;
    color:white;
    z-index: 10;
    left:0%;
    top:20%;
}
#text p{
    font-size: 35px;
    margin-bottom: 30px;
}
#text span{
    font-size: 25px;
    display: block;
    width:40%;
}
#movie video{
    position: relative;
    right:-15%;
    border-radius: 50%;
    z-index: 9;
    width:100%;
    height:105%;
}
#mainimg{
    position: relative;
    right:-15%;
    border-radius: 50%;
    z-index: 9;
    width:100%;
    height:105%;
    display: none;
}
.imgdiv img{
    width:100%;
    height:100%;
}
.imgdiv{
    margin: 0 auto;
    width:90%;
    height:50%;
}
.title{
    color:white;
    font-size: 20px;
    margin: 20px 0;
}


/* 로그인 창 */
#bgbox.off{
    display: none;
}
#bgbox{
    position: absolute;
    width:100%;
    height:100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0,0,0.5);
    z-index: 11;
}
#loginbox{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:30%;
    height:50%;
    z-index: 11;
    text-align: center;
    padding-top: 230px;
    min-width: 540px;
}
#loginbox img{
    width:60%;
    margin-bottom: 40px;
}
#loginbox p{
    text-align: center;
    color:white;
    font-size: 12px;
    margin-bottom: 30px;
}
#loginbox table{
    margin: 0 auto;
    width:100%;
}
#loginbox th{
    width:35%;
    text-align: right;
    font-size: 30px;
padding-bottom: 30px;
    color:white;
}
#loginbox td{
    padding-bottom: 30px;
    text-align: left;
}
#loginbox input{
    margin-left: 15px;
    width:50%;
    font-size: 14px;
    padding-left: 10px;
    line-height: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color:white;
}

#loginbox button{
    padding: 10px;
    font-size: 15px;
    margin-right: 20px;
    width:20%;
    cursor: pointer;
    background: none;
    color: white;
    font-weight: bold;
    border: 0.5px solid white;
}
#loginbox .loginbtn{
    text-align: center;
}

#loginbox a{
    text-decoration: none;
}

@media all and (max-width: 1080px){
    #movie video{
        display: none;
     }
     #mainimg{
         display: block;
     }
}
@media all and (max-width: 660px){
    #loginbox p{
        font-size: 12px;
    }
    #loginbox img{
        width:40%;
    }
    #bgbox{
        width:100%;
        height:200vh;
    }
    #movie{
     left:0%;
     height:20%;

    }
    #text span {
     display: none;
    }
    #movie video{
       display: none;
    }
    #mainimg{
        display: block;
    }
    #text {

     top:20%;   
       }
    #text p{
        font-size: 30px;
    }
}